.githubIcon {
  background: center/contain url('./assets/github.svg');
}

.googleIcon {
  background: center/contain url('./assets/google.svg');
}

.background {
  /* background-image: url('./assets/background.png'); */
  background-image: url('./assets/new-login-bg.png');
  /* background-size: cover; */
}